@font-face {
	font-family: 'Confidential';
	src: url('Confidential.woff2') format('woff2'),
			url('Confidential.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

HTML, BODY {
	background-color: #151735;
	padding: 0;
	margin: 0;
	color: white;
	font-family: Arial
}

.logo, .backlink a {
	font-family: 'Confidential', Arial;
	font-size: 3rem;
	font-weight: 300;
}

H1 {
	font-size: 4em;
}

H2 {
	font-size: 1.2rem;
	margin: 1rem 0 0 0;
	color: #30D9E6;
}

.film-time {
	font-size: 0.8rem;
	color: #BAC2C9;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
	margin-bottom: 1rem;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

footer {
	color: silver;
	font-size: 2rem;
	line-height: 28px;
}

footer a {
	font-family: 'Confidential', Arial, Helvetica, sans-serif
}

#rss-icon svg {
	width: 1.4rem;
}

.datetime {
	font-size: 2em;
	font-family: 'Confidential', Arial;
}

.time-and-cert {
	font-size: 0.8em;
	color: #BAC2C9;
}

.filminfos {
	padding-top: 20px;
}

.filminfo {
	padding: 6px 0 6px 0;
	flex-direction: column;
}

.filminfo .property {
	min-width: 100px;
	color: #FEA82F;
	font-weight: bold;
	font-size: 0.7em;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.filminfo .value {
	margin-bottom: 4px;
	line-height: 1.5em;
}

A {
	color: #AEC5EA;
	text-decoration: none;
}

.actor::after {
	content: ", ";
}

.actor:last-child::after {
	content: "";
}

