---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for film in schedule.films %}
  {% set absolutePostUrl %}{{ film.slug | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ film.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ film.showing.timestamp }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
			<p>{{ film.showing.day }} {{ film.showing.text }}</p>
			<p>{{ film.year }} - {{ film.runTime.text }} - {{ film.certificate }}</p>
			<p>{{ film.precis.oneLine }}</p>
			<p>{{ film.precis.full }}</p>
		</content>
  </entry>
  {%- endfor %}
</feed>