---
layout: base.liquid
---

<h1 class="h1-with-date">{{ title }}</h1>

<p class="meta-date text-center">{{ page.date | date: "%d %b %Y" }}</p>

{% assign url = "images/" | append: image %}
{% image url imageAlt "(min-width: 30em) 50vw, 100vw" page %}

<article>
  {{ content }}
</article>

{% include "taglist" %}
{% include "home" %}